.boxStyle{
    width: 219px;
    height: 338px;
    border: 4px solid red;
    border-radius: 21px;
    margin: 10px 40px;
    
}
.coxsbazar{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/mdrokybul-travel-guru.appspot.com/o/place%2Frsz_sajek.png?alt=media&token=82aeb438-8c48-48a9-8086-930bc06317bf')
}
.sreemangal{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/mdrokybul-travel-guru.appspot.com/o/place%2Frsz_sreemongol.png?alt=media&token=0d9332e7-0adb-449a-a2e9-0e18f5bce241')
}
.sundarban{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/mdrokybul-travel-guru.appspot.com/o/place%2Frsz_sundorbon.png?alt=media&token=d344fc10-754f-4867-ac08-f30f113d1445');
}
.titleStyle{
    margin-top: 280px;
}
.areaStyle{
    width: 100%;
    height: 100%;
}